[defaults]
inventory = inventories/production/hosts.ini
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
bin_ansible_callbacks = True
retry_files_enabled = False
host_key_checking = True
forks = 10
timeout = 30
local_tmp = .ansible/tmp
remote_tmp = /tmp/ansible-remote

[privilege_escalation]
become = True
become_method = sudo

[ssh_connection]
pipelining = True
control_path_dir = /tmp/ansible-cp
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
