PG_PASS={{ authentik_generated_pg_pass }}
AUTHENTIK_SECRET_KEY={{ authentik_generated_secret_key }}
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_POSTGRESQL__USER=authentik
AUTHENTIK_POSTGRESQL__NAME=authentik
AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_generated_pg_pass }}
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_ERROR_REPORTING__ENABLED={{ authentik_error_reporting_enabled | bool | lower }}
AUTHENTIK_LOG_LEVEL={{ authentik_log_level }}
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS={{ authentik_trusted_proxy_cidrs | join(',') }}
