[Unit]
Description=Edge Authentik Docker Compose stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory={{ authentik_base_dir }}
ExecStart=/usr/bin/docker compose -f {{ authentik_base_dir }}/compose.yml up -d --remove-orphans
ExecStop=/usr/bin/docker compose -f {{ authentik_base_dir }}/compose.yml stop
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
