[Service]
ExecStart=
ExecStart={{ edge_metrics_node_exporter_binary }} --web.listen-address={{ edge_metrics_bind_addr_effective }}:{{ edge_metrics_node_exporter_port }}{% for arg in edge_metrics_node_exporter_extra_args %} {{ arg }}{% endfor %}
