{% for role in teleport_managed_roles %}
---
kind: role
version: v7
metadata:
  name: {{ role.name | to_json }}
spec:
  allow:
    logins:
{% for login in role.allow.logins %}
      - {{ login | to_json }}
{% endfor %}
    node_labels:
{% for key, value in role.allow.node_labels.items() %}
      {{ key | to_json }}: {{ value | to_json }}
{% endfor %}
  options:
{% for key, value in (role.options | default({})).items() %}
    {{ key }}: {{ value | to_json }}
{% endfor %}
{% endfor %}
