version: v3
teleport:
  nodename: {{ inventory_hostname | to_json }}
  data_dir: {{ teleport_data_dir | to_json }}
  log:
    output: stderr
    severity: {{ teleport_log_severity | to_json }}

auth_service:
  enabled: true
  listen_addr: {{ teleport_auth_listen_addr | to_json }}
  cluster_name: {{ teleport_cluster_name | to_json }}
  authentication:
    type: {{ teleport_authentication_type | to_json }}
    second_factor: {{ teleport_second_factor | to_json }}

proxy_service:
  enabled: true
  web_listen_addr: {{ teleport_web_listen_addr | to_json }}
  public_addr: {{ teleport_proxy_public_addr | to_json }}
  ssh_listen_addr: {{ teleport_proxy_ssh_listen_addr | to_json }}
  ssh_public_addr: {{ teleport_proxy_ssh_public_addr | to_json }}
  tunnel_listen_addr: {{ teleport_proxy_tunnel_listen_addr | to_json }}

ssh_service:
  enabled: false

app_service:
  enabled: false

db_service:
  enabled: false

kube_service:
  enabled: false

windows_desktop_service:
  enabled: false
