---
name: {{ warpgate_compose_project_name }}

services:
  warpgate:
    image: {{ warpgate_image }}:{{ warpgate_image_tag }}
    restart: unless-stopped
    env_file:
      - .env
    command:
      - --config
      - /data/warpgate.yaml
      - run
      - --enable-admin-token
    ports:
{% if warpgate_ssh_enabled | bool %}
      - "{{ warpgate_ssh_bind }}"
{% endif %}
      - "{{ warpgate_http_bind }}:{{ warpgate_http_port }}"
    volumes:
      - ./data:/data
    healthcheck:
      test: ["CMD", "warpgate", "--config", "/data/warpgate.yaml", "healthcheck"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 5s
