---
database_url: sqlite:/data/db
external_host: {{ warpgate_external_host | to_json }}

http:
  listen: "[::]:{{ warpgate_http_port }}"
  certificate: /data/tls.certificate.pem
  key: /data/tls.key.pem
  trust_x_forwarded_headers: {{ warpgate_http_trust_x_forwarded_headers | bool | lower }}

ssh:
  enable: {{ warpgate_ssh_enabled | bool | lower }}
  listen: "[::]:{{ warpgate_ssh_container_port }}"
  keys: /data/ssh-keys
  external_host: {{ warpgate_external_host | to_json }}
  external_port: {{ warpgate_ssh_external_port | int }}

recordings:
  enable: {{ warpgate_record_sessions | bool | lower }}
  path: /data/recordings

mysql:
  enable: false

postgres:
  enable: false

kubernetes:
  enable: false

sso_providers:
{% if warpgate_sso_providers | length > 0 %}
{{ warpgate_sso_providers | to_nice_yaml(indent=2) | indent(2, true) }}
{% else %}
  []
{% endif %}
