{{ lookup('ansible.builtin.file', item.cert_src) | trim }}
{% if item.chain_src | default('') | length > 0 %}
{{ lookup('ansible.builtin.file', item.chain_src) | trim }}
{% endif %}
{{ lookup('ansible.builtin.file', item.key_src) | trim }}
